# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directory
node_modules/

# Visual Editors
.vscode

# SCSS
*.css.map
*.sass.map
*.scss.map

#window template
window_template.html

#page template
pagetemplate.html

# Miscellaneous
reference/
*.aseprite