@use "../../helpers/variables" as *;

.wrapper {
  display: grid;
  &inner {
    display: flex;
    flex-flow: column;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
  }
}

// Desktop styling

.desktop {
  display: block;
  background-color: $teal;
  font-family: "W95FA", monospace;
  //max-height: 95vh;

  &main {
    display: grid;
    background-color: $teal;
    justify-content: start;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //flex-wrap: wrap;
      padding: 1rem;
      max-height: 75vh;
      margin: auto;
    }
  }

  &sub {
    display: grid;
    background-color: $teal;
    font-family: "W95FA", monospace;
    justify-content: center;

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      max-height: 75vh;
      margin: auto;
      width: auto;
      aspect-ratio: 4/3;
    }
  }
}

.icon {
  height: min-content;
  width: min-content;
  position: static;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    img {
      height: 3rem;
    }

    p {
      color: $white;
      padding-top: 5px;
      text-align: center;
      white-space: nowrap;
      text-shadow: 1px 1px black;
    }
  }
}

.taskbar {
  display: flex;
  flex-flow: row;
  background: $taskbardark;
  width: auto;
  height: 2rem;
  padding: 0.2rem;
  box-shadow: inset 0 1px $taskbarmid, inset 0 2px $taskbarlight;

  &inset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: inset;

    background: $taskbarmid;
    padding: 0.1rem;
  }

  &popout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: outset;
    max-height: 1.45rem;

    background: $taskbardark;
    padding: 0.1rem;
  }
}

// Window elements

.windowheader {
  display: flex;
  flex-direction: row;
  justify-items: stretch;
  justify-content: space-between;
  align-items: center;

  background: $windowheader;
  width: 100%;
  height: 1.5rem;

  .icon {
    margin-top: 2px;
    margin-left: 2px;
    max-width: 1.3rem;
    max-height: 1.3rem;
  }

  .buttons {
    margin-right: 2px;
    margin-left: auto;
  }
}

.window {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  border: 5px;
  padding: 5px;
  max-height: fit-content;

  justify-self: center;

  box-shadow: inset -1px -1px black, inset -2px -2px $taskbarmid,
    inset 1px 1px $taskbarlight, inset 2px 2px $taskbarmid;

  background-color: $taskbardark;

  .content {
    display: flex;
    flex-flow: row wrap;
    overflow: scroll;
    padding: 5px;
    flex-grow: 1;
    border: inset;

    &buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.3rem;
      //padding: 10px;

      &heading {
        background-color: transparent;
        margin: 0.5rem;
      }

      &credits {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 111.3rem;
        //  padding: 10px;
      }
    }
  }

  section {
    margin-top: 2px;
    background-color: $white;
    flex-wrap: wrap;
    padding: revert;
    display: flex;
  }
}

.statusbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;

  background: $taskbardark;
  width: 100%;
  height: 1.5rem;

  padding-top: 2px;

  &inset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-style: inset;

    background: $taskbarmid;
    width: 100%;
    height: 1rem;

    &words {
      font-size: 0.8rem;
    }
  }
}

.divider {
  background-color: $taskbarmid;
  height: 0.5rem;
}

// Buttons

.buttondesktop {
  border: 0.3rem;
  padding: 0.3rem;
  margin: 0.3rem;
  font-family: "W95FA", monospace;
  background-color: $taskbardark;
  text-decoration: none;
  font-size: 1rem;
  color: black;
  // text-shadow: 1px 1px 1px white;

  box-shadow: inset -1px -1px black, inset -2px -2px $taskbarmid,
    inset 1px 1px $taskbarlight, inset 2px 2px $taskbarmid;

  // States

  &:hover {
    background-color: $taskbarmid;
  }

  &:active {
    box-shadow: inset 1px 1px black, inset 2px 2px $taskbarmid,
      inset -1px -1px $taskbarlight, inset -2px -2px $taskbarmid;
  }
}
