/* Colour Palette */
$teal: #008080;
$white: #fdffff;
$taskbardark: #c0c0c0;
$taskbarmid: #d8d8d8;
$taskbarlight: #ebebeb;
$windowheader: linear-gradient(0.25turn, #000080, #0F83CF);

/* Background images */
$favicon: url("/assets/images/favicon.png");
$header-bg-image: url();
$body-bg-image: url("/assets/images/backgrounds/background1.png");
