/* Colour Palette */
$teal: #008080;
$white: #fdffff;

/* Background images */
$favicon: url("/assets/images/favicon.png");
$header-bg-image: url();
$body-bg-image: url("/assets/images/backgrounds/background1.png");
