@use "../helpers/variables" as *;

body {
  background-image: $body-bg-image;
  font-family: "W95FA", monospace;
  margin: 0;
}

@font-face {
  font-family: "W95FA";
  src: url("/assets/fonts/W95FA/W95FA.otf") format("woff");
}

a {
  text-decoration: none;

  &:visited {
    color: hsl(0deg 100% 30%);
  }
}

p {
  margin: 0;
}

h1 {
  background-color: $teal;
  flex-direction: row;
}

#post {
  background-color: black;
}

#scratchpad {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
