// Helpers
@use "../helpers/variables";

// Main file

body {
  background-color: black;
  font-family: W95FA;
  padding: 10px;

  a:visited {
    color: hsl(0, 100%, 30%);
  }
}

@font-face {
  font-family: W95FA;
  src: url("/assets/Fonts/W95FA/w95fa.woff");
}

@keyframes blinker {
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: red;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #fdffff;
  }
}

// Component
.post {

  // Logo
  &logo {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-start;

    white-space: wrap;
    width: 95vw;
    height: min-content;

    padding: 5px;

    pre {
      color: #fdffff;
      font-size: 0.3rem;
    }
  }

  // Rest of POST screen
  p {
    color: #fdffff;

    a {
      text-decoration: none;
    }
  }

  pre {
    color: #fdffff;
    font-size: normal;
    a {
      text-decoration: none;
      img {
        height: 32px;
        width: 88px;
      }
    }
    span {
      color: red;
    }
  }

  // Buttons
  &buttons {
    font-size: 1.65rem;
    a {
      font-size: 1rem;
    }
  }
  .blink {
    animation: blinker 3s step-start infinite;
  }
}

footer {
  color: #fdffff;
  font-size: 0.3rem;
}
