@use "../../helpers/variables" as *;

// Start Menu elements

//.StartButton {}

#StartMenu {
    min-width: 15rem;
    min-height: fit-content;
    padding: 5px;
  
    text-align: center;
    background-color: $taskbarmid;
  //  display: none;
    z-index: 9;
    position: absolute;
    bottom: 1rem;
    
  }
  
  