@use '../../helpers/variables' as *;

// Start Menu elements

//.StartButton {}

#StartMenu {
  display: none;
  position: absolute;
  min-height: 5rem;
  padding: 5px;
  text-align: center;
  background-color: $taskbarmid;
  z-index: 9;
  bottom: 1rem;
}
